@tailwind base;
@tailwind components;
@tailwind utilities;

/* Login Tabs */
.selectedTabClassName {
    border-bottom: 4px solid black;
}
.selectedClassName {
    border-bottom: 4px solid black;
}
.selectedClassName:focus {
    border-bottom: 4px solid black;
}

/* Hero Carousel */
div.swiper {
    position: relative
}
div.swiper-button-prev,
div.swiper-button-next {
    color: black;
}
span.swiper-pagination-bullet  {
    width: 40px;
    height: 7px;
    border-radius: 0;
    background-color: black;
}

/* Loading spinner */
.loader {
	border-top-color: transparent;
	animation: spin 1s linear infinite;
	border-radius: 50%;
	border: 4px solid #f3f3f3;
	border-top: 4px solid black;
	height: 22px;
	width: 22px;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}