@tailwind base;
@tailwind components;
@tailwind utilities;

/* Login Tabs */
.selectedTabClassName {
    border-bottom: 4px solid black;
}
.selectedClassName {
    border-bottom: 4px solid black;
}
.selectedClassName:focus {
    border-bottom: 4px solid black;
}

/* Hero Carousel */
div.swiper {
    position: relative
}
div.swiper-button-prev,
div.swiper-button-next {
    color: black;
}
span.swiper-pagination-bullet  {
    width: 40px;
    height: 7px;
    border-radius: 0;
    background-color: black;
}